@keyframes gooeyEffect-1 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
body {
  background: #eaeef6;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
  width: 5.5rem; /* عرض نوار ناوبری */
  transition: all 0.3s ease; /* اضافه کردن ترنزیشن برای نرم کردن تغییرات */
  z-index: 10;
}

.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #6a778e;
  transition: 250ms ease all;
}

.navbar__link span {
  position: absolute;
  left: 100%;
  transform: translate(-3rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #406ff3;
  background: #fff;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
  z-index: 20; /* اضافه کردن z-index برای نمایش روی سایر عناصر */
}

.navbar__link:hover {
  color: #fff;
  top: 0;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #406ff3;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}

.navbar:not(:hover) .navbar__link:focus,
.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}

.navbar__menu {
  position: relative;
}

/* .navbar__item:last-child:before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #406ff3;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
} */
/* تنظیمات برای صفحه‌های کوچک‌تر (موبایل) */
@media (max-width: 768px) {
  .navbar {
    width: 3rem; /* کاهش عرض نوار ناوبری */
    padding: 0.75rem; /* کاهش padding */
  }

  .navbar__link {
    width: 4rem; /* کاهش عرض لینک‌ها */
    /* height: 3rem; کاهش ارتفاع لینک‌ها */
  }
}

/* تنظیمات برای صفحه‌های خیلی کوچک‌تر (مانند موبایل‌های خیلی کوچک) */
@media (max-width: 480px) {
  .navbar {
    width: 2.5rem; /* کاهش بیشتر عرض نوار ناوبری */
  }
  .navbar a {
    width: 2.5rem;
  }

  .navbar__link {
    width: 3.5rem; /* کاهش بیشتر عرض لینک‌ها */
    /* height: 2.5rem; کاهش ارتفاع لینک‌ها */
  }
}
